/*sets background properties*/
body{
  margin: 0;
  background-image: url('images/pattern.jpg');
}

/*content wrapper*/
.wrapper {
  width: 80%;
  height: 100%;
  margin: 5% 10%;
  background-color: transparent;
}

/*logo header*/
.title {
  width: 30%;
  height: 310px;
  margin-right: 5%;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;

}

/*information box*/
.info {
  width: 65%;
  height: 310px;
  background-color: rgba(255, 255, 255, 0.85);
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  text-align: center;
}
/*social icons*/
.social-info{
  display: flex;
  padding: 0 20%;
  justify-content: space-around;
}

.social-info a {
  color: #E50D84;
}

.social-info a:hover{
  color:black;
}

/*spaces out text and social icons*/
.info-content{
  padding-top: 10%;
}

/*entire header(logo and info box)*/
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;

}















.search-music{
  width: 80%;
  margin:  3%;
}

.box {
  height: 220px;
  width: 220px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
}

.results-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
